// 简介：中国豆娃好声音大赛---排行榜页样式
// 维护人：
// ==================================================

@import "nib"

// reset
@import "../partials/_reset-m"

// icon字体
@import "../partials/_iconfont"

// 主题皮肤样式设置
@import "../partials/_setting"

// 全局通用样式
@import "../partials/_common"

// 动画
@import "../partials/_animate"

// mixin的样式
@import "../partials/_mixins"

