---
page_title: "-排行榜"
category: "list"
body_class: ["list"]
stylesheets: ["list"]
---

extends _layout


block content
    +list-item(50,50,en)
    +list-item(50,50,audio)
    +list-item(50,50,hehe)

block javascript
    script(src='#{current.base}js/zepto-1.1.4.js')
    script(src='#{current.base}js/index/index.js')

include partials/_footer