// 皮肤主题基本样式设置
// ==================================================


// body皮肤主题
// ----------------------------
body-bg-color = #c3f285;
body-color = #999999;
body-img-url = url("../img/body-bg.png");
body-padding-top = 22%;

// nav条皮肤主题
// ----------------------------
nav-bg-color = #2b4046;
nav-border-color = #223338;

// nav条字体与current背景
nav-a-color = #69929e;
nav-aCurrent-color = #f8d600;

// nav高度
nav-height = 5em;

// 全局通用border颜色
// ------------------------------
common-border-color = #aed977

// button按钮皮肤主题
// ------------------------------

// button-default颜色
btn-default-bg = #fff
btn-default-border = #ccc
btn-default-color = #333
// button-primary颜色
btn-primary-bg = #337ab7
btn-primary-border = #2e6da4
// button-success颜色
btn-success-bg = #5cb85c
btn-success-border = #4cae4c
// button-info颜色
btn-info-bg = #5bc0de
btn-info-border = #46b8da
// button-warning颜色
btn-warning-bg = #f0ad4e
btn-warning-border = #eea236
// button-danger颜色
btn-danger-bg = #d9534f
btn-danger-border = #d43f3a


// reset样式
// ==================================================
// input获取焦点placeholder颜色
placeholder-color = #cccccc;