//------------------------------
//- @param Array 导航栏数据，定义在
//-              _data.json中
//------------------------------

mixin navbar(nav_links)
    nav#nav-menu.nav-menu.flex
        for link in nav_links
            a.iconfont.icon-home(href='#{link.slug}.html',title='#{link.label}')
                p= link.label
                if link.hot
                    i.icon-hot