// 简介：中国豆娃好声音大赛---首页样式
// 维护人：
// ==================================================

@import "nib"

// reset
@import "../partials/_reset-m"

// icon字体
@import "../partials/_iconfont"

// 主题皮肤样式设置
@import "../partials/_setting"

// 全局通用样式
@import "../partials/_common"

// 动画
@import "../partials/_animate"

// mixin的样式
@import "../partials/_mixins"


.loader {
  width:20px;
  height:20px;
  display:inline-block;
  padding:0px;
  border-radius:100%;
  border:3px solid;
  border-top-color:rgba(254, 168, 23, 0.65);
  border-bottom-color:rgba(57, 154, 219, 0.65);
  border-left-color:rgba(188, 84, 93, 0.95);
  border-right-color:rgba(137, 188, 79, 0.95);
  -webkit-animation: loader 0.5s ease-in-out infinite ;
  animation: loader 0.5s ease-in-out infinite ;
}