<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>活动规则</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/rule.css">
</head>
<body class="rule">
<div class="main-wrap">
    <h3>活动规则</h3>
    <label >活动时间：<span>2015.10.26 ~ 2015.11.22</span></label>
    <ol>
        <label for="">奖品设置：</label>
        <li>月度好声音奖 <span>1000元亲子基金</span></li>
        <li>周冠军 <span>500元亲子基金</span></li>
        <li>周亚军 <span>100元亲子基金</span></li>
        <li>周季军 <span>50元亲子基金</span></li>
        <li>每日幸运奖 50元微信红包</li>
    </ol>

    <ol>
        <label>注：</label>
        <li>月度大奖和周冠军、周亚军、周季军在参赛选手中产生。每日幸运奖将在参赛选手和投票者中随机抽取；</li>
        <li>月度好声音大奖将由专家团队评选出最佳童声；周冠军、周亚军、周季军均由投票数直接产生。</li>
    </ol>
    <!--<p>1）月度大奖和周冠军、周亚军、周季军在参赛选手中产生。每日幸运奖将在参赛选手和投票者中随机抽取；</p>
    <p>2）月度好声音大奖将由专家团队评选出最佳童声；周冠军、周亚军、周季军均由投票数直接产生。</p>-->
    <ol>
        <label >参赛规则：</label>
        <li>参赛选手年龄限制为2~15岁；</li>
        <li>声音足够甜美，足够可爱，最重要的是足够萌；</li>
        <li>录音时长不超过1分钟，可重复录制；</li>
        <li>同一个参赛选手每个微信号每天限投一次；</li>

        <li>若发现任何作弊行为，组委会有权取消选手的参赛资格，大赛规则最终解释权归组委会；</li>
        <li class="red">参赛选手务必在下方填写联系手机，所有兑奖以此手机号为准，未填手机号的选手将视为自动放弃评奖资格；</li>
        <li>任何疑问请加客服微信好友gaofenwang，更多参赛攻略请关注微信公众号“豆计划”。</li>
    </ol>
    <form action="" method="post">
        <input type="tel" placeholder="输入手机号，登记报名" class="tel" maxlength="11" pattern="^1[3-9]\d{9}$" required/>
        <div class="post-message ">
            <i>!</i><span>提交失败，请重新输入手机号</span>
        </div>
        <input type="submit" class="btn" value="提交"/>
    </form>
    <div class="scan ">
        <h5>如何分享</h5>
        <p>点击屏幕右上角按钮 >  分享到朋友圈</p>
        <h5>如何关注</h5>
        <p>长按下图，识别二维码关注我</p>
        <img src="../img/qrcode-h.png" alt=""/>
    </div>
</div>
<div class="ad hidden">
    <div class="adWrap">
        <ul id="adText">
            <li><a href="">1、我们都是好哦四点后</a></li>
            <li><a href="">2、是滴哦哈佛们都是好孩达菲方法我们都是子，最最善良的孩子</a></li>
            <li><a href="">3、sdfsfdsafga 是好孩达菲方法我们都是子，最最善良sdf sdfsfdfsds</a></li>
        </ul>
    </div>
    <a href="#" title="" class="enlist">报名 >></a>
</div>
<script>
    window.onload = function () {
        var adText = document.getElementById("adText");
        var lists = adText.getElementsByTagName("li");
        var len = lists.length;
        var listsWidth = 0;

        for(var i = 0; i < len; i++){
            listsWidth += lists[i].offsetWidth;
        }

        adText.style.width = listsWidth + 'px';
    }
</script>
<nav class="nav-menu flex" id="nav-menu">
    <a href="index.html" class="iconfont icon-home "><p>表白主页</p></a>
    <a href="record.html" class="iconfont icon-record"><p>我要表白</p></a>
    <a href="list.html" class="iconfont icon-statistics"><p>排行榜</p></a>
    <a href="rule.html" class="iconfont icon-rule current"><p>活动规则</p></a>
</nav>
</body>
</html>